altair==4.1.0
annotated-types
attrs
beautifulsoup4
blinker
branca
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
deprecation
entrypoints
et-xmlfile
Faker
favicon
folium
fonttools
gitdb
GitPython
htbuilder
htmlmin
idna
ImageHash
importlib-metadata
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
lxml==4.9.3
Markdown==3.4.3
markdown-it-py
markdownlit
MarkupSafe
matplotlib
mdurl
missingno
more-itertools
multimethod
networkx
numerize
numpy
oauthlib
openpyxl
opt-einsum
packaging
pandas
pandas-profiling
patsy
phik
Pillow
Plost
plotly
plotly-express
protobuf
pyarrow
pydantic
pydantic_core
pydeck
Pygments
pymdown-extensions
Pympler
pyparsing
python-dateutil
python-decouple
pytz
PyWavelets
PyYAML
referencing
requests
rich
rpds-py
scikit-learn
scipy
seaborn
six
smmap
soupsieve
st-annotated-text
statsmodels
streamlit
streamlit-aggrid
streamlit-apexjs==0.0.3
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.4
streamlit-elements==0.1.0
streamlit-embedcode==0.1.2
streamlit-extras==0.2.7
streamlit-faker==0.0.2
streamlit-folium==0.15.0
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.0
streamlit-modal==0.1.0
streamlit-option-menu==0.3.2
streamlit-pandas-profiling
streamlit-toggle-switch
streamlit-vertical-slider
tangled-up-in-unicode
tenacity
threadpoolctl
toml
toolz
tornado
tqdm
typing_extensions
tzdata
tzlocal
urllib3
validators
visions
watchdog
zipp
